{% extends 'reviews/base.html' %}



{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your review</title>
   
    <link rel="stylesheet" href="{% static 'reviews/style.css' %}">
</head> {% endcomment %}


{% block title %}Your Review{% endblock title %}


{% block content %}

<body>
    <form action="/" method="POST">
        {% csrf_token %}
        {% for field in form %}
        
        <div class="form-control  {% if field.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{  field.errors }}
        </div>
        
        {% endfor %}

        <button type="submit">Send</button>
    </form>
</body>

{% endblock content %}


{% comment %} <body>
    <form action="/" method="POST">
        {% csrf_token %}
        <!-- {% if has_error %}
        <p>This form is invalid, Please enter a valid username!</p>
        {% endif %} -->
        <!-- <label for="username">Your Name</label>
        <input type="text" id="username" name="username"> -->

        <!-- {{ form }} -->

        {% comment %} 
        <div class="form-control  {% if form.user_name.errors %}errors{% endif %}">
            {{ form.user_name.label_tag }}
            {{ form.user_name }}
            {{  form.user_name.errors }}
        </div> {% endcomment %}

        {% comment %} {% for field in form %}
        
        <div class="form-control  {% if field.errors %}errors{% endif %}">
            {{ field.label_tag }}
            {{ field }}
            {{  field.errors }}
        </div>
        
        {% endfor %}
         {% endcomment %}

        

        
{% comment %} 
        <button type="submit">Send</button>
    </form>
</body>
</html>   {% endcomment %}